[Bb]in/
[Oo]bj/
appsettings.Development.json
appsettings.Staging.json
secrets.json
web.config
*.launch.json
Properties/launchSettings.json

project.lock.json
project.fragment.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.[Cc]ache
*.[Pp]ublish.xml
*.[Pp]ublishsettings.user
*.builds
*.pidb
*.log
*.vspx
*.vsp

.idea/

*.secrets.json