@{
    ViewBag.Title = "Student Dashboard";
}
<h2>Student Dashboard</h2>
<ul>
    <li><a href="/Student/ManageCourses">Manage Courses</a></li>
    <li><a href="/Student/Profile">Profile</a></li>
    <li><a href="/Home/Index">Logout</a></li>
</ul>