@model IEnumerable<ap_project_final.Models.Course>
    @{
    ViewBag.Title = "My Courses";
    }
    <h2>My Courses</h2>
    <ul>
        @foreach (var course in Model)
    {
        <li>
            <a href="/Student/CourseDetails/@course.Id"/a>
            <form method="post" asp-action="RemoveCourse" asp-route-courseId="@course.Id" style="display:inline;">
                <button type="submit">Remove</button>
            </form>
        </li>
    }
    </ul>
<a href="/Student/Index">Back</a>