@{
    ViewBag.Title = "Student Dashboard";
}

<h2>Welcome to the Student Dashboard</h2>

<div style="margin-top: 20px;">
    <button style="padding: 10px 20px; font-size: 16px; margin-bottom: 10px;" onclick="location.href='/Student/ManageClasses'">Manage Classes</button>
    <br />
    <button style="padding: 10px 20px; font-size: 16px; margin-bottom: 10px;" onclick="location.href='/Student/Profile'">Profile</button>
    <br />
    <button style="padding: 10px 20px; font-size: 16px;" onclick="location.href='/Account/Logout'">Logout</button>
</div>