@model IEnumerable<ap_project_final.Models.Course>
    @{
    ViewBag.Title = "Manage Courses";
    }
    <h2>Manage Courses</h2>

    <ul>
        @foreach(var course in Model)
    {
        <li>
            <a href="/Admin/ManageClasses/@course.Id">@course.CourseCode</a>
            <form method="post" asp-action="DeleteCourse" asp-route-id="@course.Id" style="display:inline;">
                <button type="submit">Remove</button>
            </form>
        </li>
    }
    </ul>

    <a class="btn btn-primary" href="/Admin/AddCourse">Add Course</a>

<button onclick="location.href='/Admin/Index'" style="margin-top:10px;">Back</button>
