@{
    ViewBag.Title = "Admin Dashboard";
}
<h2>Dashboard</h2>
<ul>
    <li><a href="/Admin/ManageUsers">Manage Users</a></li>
    <li><a href="/Admin/CoursesList">Manage Courses</a></li>
    <li><a href="/Home/Index">Logout</a></li>
</ul>