@model IEnumerable<ap_project_final.Models.Classroom>
    @{
    ViewBag.Title = "Manage Classes";
    var courseId = ViewBag.CourseId;        
    var courseName = ViewBag.CourseName;    
    }
    <h2>Manage Classes for @courseName</h2>

    <ul>
        @foreach(var classroom in Model)
    {
        <li>
            
            <form method="post" asp-action="RemoveClassroom" asp-route-classroomId="@classroom.Id" style="display:inline;">
                <button type="submit">Remove</button>
            </form>
            <a href="/Admin/ManageParticipants/@classroom.Id">Participants</a>
        </li>
    }
    </ul>

    <a class="btn btn-primary" href="/Admin/AddClassroom?courseId=@courseId">Add Classroom</a>
