@model ap_project_final.Models.UserManagementViewModel
@{
    ViewBag.Title = "Manage Users";
}

<h2>Manage Users</h2>

<h3>Students</h3>
<ul id="students-list">
    @foreach (var student in Model.Students)
    {
        <li>
            @student.LastName
            
        </li>
    }
</ul>
<button style="margin-top:10px;" onclick="location.href='/Admin/AddStudent'">Add Student</button>

<h3>Instructors</h3>
<ul id="instructors-list">
    @foreach (var instructor in Model.Professors)
    {
        <li>
            @instructor.LastName
            
        </li>
    }
</ul>
<button style="margin-top:10px;" onclick="location.href='/Admin/AddInstructor'">Add Instructor</button>

<button onclick="location.href='/Admin/Index'" style="margin-top:10px;">Back</button>

<h3>Remove Student</h3>
<form method="post" action="/Admin/RemoveStudent">
    <label for="studentId">Student ID:</label>
    <input type="text" id="studentId" name="studentId" required />
    <button type="submit">Remove Student</button>
</form>

<hr />

<h3>Remove Instructor</h3>
<form method="post" action="/Admin/RemoveInstructor">
    <label for="instructorId">Instructor ID:</label>
    <input type="text" id="instructorId" name="instructorId" required />
    <button type="submit">Remove Instructor</button>
</form>

