@model ap_project_final.Models.UserManagementViewModel
@{
    ViewBag.Title = "Manage Users";
}

<h2>Manage Users</h2>

<h3>Students</h3>
<ul id="students-list">
    @foreach (var student in Model.Students)
    {
        <li>
            @student.LastName
            <button style="margin-left:10px;" onclick="deleteUser('student', @student.Id, this)">Remove</button>
        </li>
    }
</ul>
<button style="margin-top:10px;" onclick="location.href='/Admin/AddStudent'">Add Student</button>

<h3>Instructors</h3>
<ul id="instructors-list">
    @foreach (var instructor in Model.Professors)
    {
        <li>
            @instructor.LastName
            <button style="margin-left:10px;" onclick="deleteUser('instructor', @instructor.Id, this)">Remove</button>
        </li>
    }
</ul>
<button style="margin-top:10px;" onclick="location.href='/Admin/AddInstructor'">Add Instructor</button>

@section Scripts {
    <script>
        function deleteUser(type, id, button) {
            let url = '';

            if (type === 'student') {
                url = '/Admin/DeleteStudent/' + id;
            } else if (type === 'instructor') {
                url = '/Admin/DeleteInstructor/' + id;
            }

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                
                    // Remove the list item from the DOM
                    const listItem = button.closest('li');
                    listItem.remove();
                
            });
        }
    </script>
}