@{
    ViewBag.Title = "Instructor Dashboard";
}
<h2>Instructor Dashboard</h2>
<ul>
    <li><a href="/Instructor/ManageCourses">Manage Courses</a></li>
    <li><a href="/Account/Login">Logout</a></li>
</ul>