@{
    ViewBag.Title = "Instructor Dashboard";
}
<h2>Instructor Dashboard</h2>
<ul>
    <li><a href="/Instructor/ManageCourses">Manage Courses</a></li>
    <a href="/Instructor/Inbox" class="btn btn-primary">View My Inbox</a>
    <a href="/Instructor/Appeals" class="btn btn-secondary">View Grade Appeals</a>
    <li><a href="/Account/Login">Logout</a></li>
</ul>