@model IEnumerable<ap_project_final.Models.Classroom>

@{
    ViewBag.Title = "Manage Classes";
}

<h2>Manage Classes</h2>

<ul>
    @foreach (var classroom in Model)
    {
        <li>
            <a href="/Instructor/ManageParticipants/@classroom.Id">Manage Participants</a>
        </li>
    }
</ul>